* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafc;
    width: 100%;
    min-width: 1080px;
    max-width: 1800px;
    font-family: 微軟正黑體;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    background-color: #fafafc;
    padding-bottom: 20px;
}

.nav {
    width: 100%;
    line-height: 20px;
    background-color: #2e1153;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 12px;
    min-width: 1080px;
    max-width: 1800px;
}

.navtext {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 2px;
    min-width: 1080px;
    max-width: 1800px;
}

.navul {
    list-style-type: none;
    display: inline;
}

.navli {
    list-style-type: none;
    display: inline;
    padding: 0.8%;
}

.navli a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.navli a:hover {
    text-decoration: underline;
}

.navword {
    color: white;
    text-decoration: none;
    font-size: 13px;
    float: right;
    margin: 0 0.8% 0 0.8%;
    font-weight: bold;
}

.navword:hover {
    text-decoration: underline;
}

.navimg {
    vertical-align: bottom;
    float: right;
    margin: 3px;
}

#language {
    cursor: pointer;
}

.langbox {
    position: absolute;
    right: 10%;
    top: 50px;
    z-index: 4;
    background-color: white;
    border: 1px solid #cecece;
    box-shadow: 0px 2px 5px #cecece;
    width: 600px;
    height: 380px;
    margin-top: -15px;
    padding: 0 30px;
    min-width: 600px;
}

.dis_none {
    display: none;
}

@media screen and (max-width: 1348px) {
    .langbox {
        right: 5%;
    }
}

@media screen and (max-width: 1080px) {
    .langbox {
        right: 0%;
    }
}

.langtitle {
    font-size: 13px;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 1px solid #dddddd
}

.langtable {
    text-align: left;
    margin-top: 10px;
}

.langtabletitle {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.langtable tbody tr {
    margin: 5px;
}

.langtable tbody tr>td {
    padding: 3px 40px 0px 0px;
}

.langtable tbody tr>td>a {
    font-size: 13px;
    text-decoration: none;
    color: #4b4b4b;
}

.langtable tbody tr>td>a:hover {
    text-decoration: underline;
}

.langtable tbody tr>td.langtabletittle>a {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.topbar {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
    min-width: 1080px;
    max-width: 1800px;
    /*background-color: red;*/
}

.logo {
    margin-top: 15px;
    width: 13%;
    margin-right: 20px;
    padding-left: 10px;
    vertical-align: middle;
    float: left;
}

.logo img {
    width: 100%;
}

.inputbox {
    width: 50%;
    float: left;
    border: 1px solid slategrey;
    border-radius: 23px;
    background-color: white;
    margin: 5px;
    padding: 0px
}

.inputbox input {
    border: none;
    width: 80%;
    padding-left: 20px;
    line-height: 46px;
    border-radius: 23px;
    font-size: 20px;
    z-index: 1;
    background-color: white;
}

.search {
    position: relative;
    width: 75px;
    height: 46px;
    border: none;
    margin-right: -2px;
    border-radius: 23px;
    text-align: center;
    padding-top: 10px;
    background-color: #188FFF;
    z-index: 2;
    float: right;
}

.search img {
    width: 25px;
    height: 25px;
}

.pen {
    margin-top: 15px;
}

.WAE {
    float: right;
    margin-top: 15px;
}

.WAE a {
    color: #1D1DA3;
    font-size: 13px;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    vertical-align: middle;
}

.WAE a:hover {
    text-decoration: underline;
}

.WAE a img {
    margin: 0 5px 0 5px;
    vertical-align: middle;
    width: 11%;
    height: 11%;
}

.hotsearch {
    padding-left: 20px;
    z-index: 1;
}

.hotsearchul {
    list-style-type: none;
}

.hotsearchul li {
    list-style-type: none;
    display: inline;
    z-index: 1;
}

.hotsearchul li span {
    color: #3F3F3F;
    font-size: 13px;
    z-index: 1;
}

.hotsearchul li a {
    color: #324FE1;
    font-size: 13px;
    text-decoration: none;
    z-index: 1;
}

.hotsearchul li a:hover {
    text-decoration: underline;
}

.line::before {
    content: "｜";
    color: rgba(63, 63, 63, 0.301);
}

.content {
    min-width: 1080px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentL {
    width: 13%;
}

.contentLtable {
    border-spacing: 0;
}

.contentLtable tr td {
    padding: 6px 4px;
}

.contentLtable tr td a {
    font-size: 14px;
    color: #1D1DA3;
    text-decoration: none;
}

.tableline::before {
    position: absolute;
    content: "________";
    margin: -2px 0 0 0;
    color: #fafafc;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.contentM {
    width: 55%;
    padding: 0px 15px;
    min-width: 630px;
}

.new1 {
    width: 100%;
    height: 36px;
    margin-bottom: 10px;
}

.lightorange {
    width: 15%;
    height: 36px;
    background-color: #f99c23;
    text-align: center;
    padding-top: 5px;
    float: left;
}

.lightorange span {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.slash {
    border-bottom: 36px solid transparent;
    width: 1%;
    height: 34px;
    border-left: 15px solid rgb(249, 156, 36);
    background-color: rgb(255, 108, 15);
    box-shadow: 0 0 black;
    float: left;
}

.orange {
    width: 82.5%;
    height: 36px;
    background-color: #ff6c0f;
    float: left;
    padding-top: 5px;
}

.orange span {
    color: white;
    font-size: 16px;
}

.new2 {
    width: 100%;
    border: 1px solid rgb(163, 163, 163, 0.5);
    float: left;
    background-color: white;
}

.new2_lock {
    display: block;
}

.new2_unlock {
    display: none;
}

.new2ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: left;
    width: 100%;
    list-style-type: none;
    background-color: #f4f4f4;
    text-align: center;
    padding-right: 12px;
    border-bottom: 1px solid rgb(163, 163, 163, 0.3);
}

.new2ul a li {
    list-style-type: none;
    text-align: center;
    padding: 10px 30px;
    height: 42px;
    width: 105px;
    float: left;
    margin: -1px 0px -1px -1px;
}

.lock {
    background-color: #fafafc;
    border-bottom: none;
    border-top: 4px solid #732FC2;
    border-left: 1px solid rgb(163, 163, 163, 0.5);
    border-right: 1px solid rgb(163, 163, 163, 0.5);
    border-bottom: 2px solid white;
    background-color: white;
    color: #732FC2;
    font-weight: bold;
}

.new2ul a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.new2content {
    padding: 10px;
    padding-bottom: 0px;
    float: left;
}

.new2img {
    width: 58%;
    float: left;
}

.new2img img {
    width: 100%;
}

.new2text {
    width: 40%;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.texttitle {
    font-size: 16px;
    color: #324FE1;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: bold;
}

.texttitle:hover {
    text-decoration: underline;
}

.textcontent {
    font-size: 13px;
    color: #5F5F5F;
}

.new3 {
    width: 100%;
    margin-top: 10px;
    float: left;
    border: 1px solid rgba(150, 150, 150, 0.5);
    border-bottom: none;
    background-color: white;
}

.new3ul {
    float: left;
    width: 100%;
    list-style-type: none;
    background-color: #400190;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new3ul a li {
    list-style-type: none;
    text-align: center;
    height: 35px;
    width: 106px;
    float: left;
    padding-top: 7px;
    margin-right: -1px;
}

.new3lock {
    background-color: #732FC2;
}

.new3ul li:hover {
    background-color: #732FC2;
}

.new3ul a {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.new3content {
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
    padding: 10px;
}

.new3img {
    width: 15%;
    float: left;
    margin-right: 10px;
}

.new3img img {
    width: 100%;
}

.new3titletext {
    float: left;
    font-size: 16px;
    color: #324FE1;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5px;
}

.new3titletext:hover {
    text-decoration: underline;
    cursor: pointer;
}

.new3text {
    float: left;
    font-size: 15px;
    color: #5F5F5F;
    margin-bottom: 5px;
}

.new3source {
    float: left;
    font-size: 12px;
    color: #7F7F7F;
}

.new3ad {
    width: 100%;
    float: left;
    padding: 10px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}

.new3adimg {
    width: 50%;
    float: right;
}

.new3adimg img {
    width: 100%;
}

.new3adtitle {
    float: left;
    font-size: 16px;
    color: #324FE1;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5px;
}

.new3adcontent {
    float: left;
    font-size: 15px;
    color: #5F5F5F;
    margin-bottom: 5px;
}

.contentR {
    width: 30%;
}

.video {
    width: 100%;
    margin-bottom: 15px;
}

.video img {
    width: 100%;
}

.AD {
    float: left;
    width: 100%;
    border: 1px solid rgba(150, 150, 150, 0.5);
}

.ADtitle {
    width: 100%;
    float: left;
    background-color: #f2f2f4;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
}

.ADul {
    background-color: #f2f2f4;
    float: right;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ADul li {
    list-style-type: none;
    width: 90px;
    height: 42px;
    text-align: center;
    font-size: 16px;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-top: 8px;
}

.ADtitletext {
    float: left;
    font-size: 18px;
    color: #3F3F3F;
    padding-top: 7px;
    padding-left: 5px;
}

.ADcontent {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.ADcontent img {
    width: 99%;
}

.footer {
    display: fixed;
    right: 1;
    bottom: 1;
    width: 100%;
    height: 102px;
    float: left;
    margin-top: 570px;
    margin-bottom: 15px;
}

.footerul {
    list-style-type: none;
    float: left;
    display: block;
    max-width: 250px;
}

.footerul li {
    list-style-type: none;
    display: inline-block;
    padding: 1px 5px;
}

.footerul li a {
    font-size: 11px;
    color: #1D1DA3;
    text-decoration: none;
}

.footerul li a:hover {
    text-decoration: underline;
}

.footer img {
    float: right;
    width: 15%;
}