* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

body {
    width: 100%;
    height: 100%;
    background-color: #e9ebee;
}

header {
    height: 42px;
    min-width: 1080px;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    position: sticky;
    z-index: 2;
    top: 0px;
    left: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    min-width: 1080px;
    z-index: 2;
}

.logo {
    height: 42px;
    width: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.logo img {
    height: 24px;
    width: 24px;
}

.searchbox {
    background-color: white;
    width: 450px;
    border: 1px solid #3b5998;
    border-radius: 3px;
    height: 26px;
}

.search {
    position: relative;
    width: 400px;
    height: 24px;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    outline: none;
}

.searchbtn {
    height: 24px;
    width: 46px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    border-radius: 3px;
    background-color: #f5f6f7;
    cursor: pointer;
}

.searchbtn img {
    width: 16px;
    height: 16px;
}

.headerul ul {
    list-style-type: none;
    margin-left: 150px;
    border-spacing: 0px;
}

.headerul ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 24px;
    border-right: 1px solid #293e6a60;
    text-align: center;
    padding: 0 7px 0 2px;
}

.headerul>ul>li:nth-child(5) {
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.headerhover {
    display: inline;
    padding: 5px 3px;
    border-radius: 5px;
}

.headerhover:hover {
    cursor: pointer;
    background-color: #2f467959;
}

.headerimg {
    width: 22px;
    height: 22px;
    vertical-align: text-top;
}

.marginrf_3 {
    margin: 0 3px;
}

.headerul ul li span {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    min-width: 1080px;
    padding-right: 205px;
}

.content {
    padding-top: 15px;
    width: 1012px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.contentL {
    width: 180px;
    height: 100%;
    overflow: visible;
}

.contentLL {
    position: fixed;
    /*top: 0px;
    left: 0px;*/
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    overflow: visible;
}

.btn1 {
    width: 100%;
    line-height: 28px;
    margin: 2px 0;
    padding-left: 2px;
}

.btn1 img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.btn1 span {
    margin-left: 5px;
    vertical-align: middle;
    font-size: 14px;
}

.btnbox {
    width: 100%;
    margin: 10px 0;
}

.focus {
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
    border-radius: 2px;
}

.btn1:hover {
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
    cursor: pointer;
    border-radius: 2px;
}

.btnboxtitle {
    color: #777;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -1px;
}

.contentM {
    position: sticky;
    width: 500px;
    height: 100%;
}

.newpostbox {
    background-color: #FFFFFF;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    z-index: 1;
}

.newposthead {
    padding: 8px 5px;
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
}

.newposthead span {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #4b4f56;
    cursor: pointer;
}

.newpostbody {
    background-color: white;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.newpostbody img {
    height: 40px;
    width: 40px;
}

.newpostbody textarea {
    max-height: 71px;
    padding: 18px 12px 14px 12px;
    overflow: hidden;
    font-size: 15px;
    height: 100%;
    line-height: 28px;
    border: 0;
    color: #1c1e21;
    width: 100%;
    resize: none;
}

.newpostfoot {
    max-height: 88px;
    overflow-y: scroll;
    background-color: white;
    border-top: 1px solid #e9ebee;
    border-radius: 3px;
    margin: 0 12px;
    padding: 8px 0;
}

.newpostbtn {
    background-color: #f4f4f4;
    border-radius: 12px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.newpostbtn:hover {
    background-color: #b1b1b1;
}

.newpostbtn img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.postbox {
    background-color: #FFFFFF;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    margin-top: 10px;
    padding: 15px;
}

.postboxhead {
    width: 100%;
    height: 50px;
    clear: both;
}

.headphoto {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.postname {
    font-size: 16px;
    white-space: nowrap;
    display: block;
    color: #385898;
    font-weight: bold;
}

.posttime {
    font-size: 13px;
    color: #616770;
}

.optionphoto {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: -20px;
    vertical-align: middle;
}

.posttext {
    color: black;
    font-size: 14px;
    margin: 5px;
}

.like {
    margin: 5px;
    width: 55px;
    height: 20px;
    vertical-align: middle;
}

.likenum {
    line-height: 16px;
    color: inherit;
    font-size: 14px;
    vertical-align: middle;
}

.postboxbody {
    padding: 6px 0;
}

.postboxfoot {
    padding: 5px;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    border-top: 1px solid #e9ebee;
}

.postbtn {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.postbtn img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.postbtn:hover {
    background-color: #b1b1b1;
}

.contentRR {
    right: 355px;
    width: 308px;
    height: 100%;
}

.contentR {
    position: fixed;
    /*right: 355px;*/
    width: 308px;
    height: 100%;
}

.contentbox {
    background-color: #FFFFFF;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 10px;
}

.contentboxbody {
    padding: 1px 0;
}

.gift {
    width: 16px;
    height: 16px;
}

.contenttext {
    color: black;
    font-size: 14px;
    margin: 5px;
}

.contenttitle {
    color: #606770;
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
}

.contentlang {
    color: #90949C;
    font-size: 13px;
    margin: 10px;
}

.contentlang a {
    color: #385898;
    font-size: 13px;
    margin: 5px;
    text-decoration: none;
}

.footer {
    color: #90949C;
    font-size: 13px;
    margin: 10px;
    text-decoration: none;
}

.footer a {
    color: #90949C;
    font-size: 13px;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    top: 42px;
    right: 0px;
    height: 100%;
    width: 220px;
    margin-right: -15px;
    border-left: 1px solid rgba(0, 0, 0, .4);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #e9ebee;
}

.sidebarul {
    width: 100%;
}

.sidebarul h5 {
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}

.sidebarul li {
    list-style-type: none;
    width: 100%;
    line-height: 32px;
    margin: 5px 0;
    padding-left: 10px;
}

.sidebarul li img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.sidebarul li span {
    font-size: 14px;
    vertical-align: middle;
    color: #333333;
}

.sidebarsmall {
    width: 208px;
    border: none;
    background: #fff;
    padding: 6px 12px 25px 12px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    color: #333;
    font-weight: bold;
    height: 30px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    display: none;
}

@media screen and (max-width: 1080px) {
    .sidebar {
        display: none;
    }
    .sidebarsmall {
        display: block;
    }
}